
.header-buttons-block button:hover{
    border-color: #f1a03c80;
}

.main-wrapper-buttons-block-button-history:hover{
    background-color: white;
    border-color: #F1A13C;
}

.main-wrapper-buttons-block-button-history:hover a{
    color: #F1A13C;
}

.main-wrapper-buttons-block-button-museum:hover{
    background-color: #0E2441;
    border-color: white;
    color: white;
}

.header-lang-button-block:hover{
    box-shadow: 5px 5px 14px 1px #ffffff00;
}

.footer-buttons-block button:hover{
    color: #f1a03ca6;
}

.header-lang-button-block:hover .header-lang-button-arrow{
    animation: myArrowAnim 0.7s ease-in-out 0s 1 normal forwards;
}

@keyframes myArrowAnim {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(-90deg);
    }
}

body{
    animation: myAnim 1s ease-in-out 0s 1 normal forwards;
}


